#!/bin/bash

# jq / kustomize 

#------------------------------------------------------------------
# ex : imageRegistry={IP}:{PORT}
# ex : crioVersion={crio version}
# ex : k8sVersion={kubernetes version}
# ex : apiServer={kubernetes API server ip}
# ex : podSubnet={POD_IP_POOL}/{CIDR}
#------------------------------------------------------------------
#------------------------------------------------------------------
# ex : imageRegistry=172.22.5.2:5000
# ex : crioVersion=1.17
# ex : k8sVersion=1.17.6
# ex : apiServer=172.21.7.2
# ex : podSubnet=10.244.0.0/16
#------------------------------------------------------------------
# common
HPCD_MODE={HPCD_MODE}
HPCD_SINGLE_OPERATOR_VERSION={HPCD_SINGLE_OPERATOR_VERSION}
HPCD_MULTI_OPERATOR_VERSION={HPCD_MULTI_OPERATOR_VERSION}
HPCD_API_SERVER_VERSION={HPCD_API_SERVER_VERSION}
HPCD_POSTGRES_VERSION={HPCD_POSTGRES_VERSION}
REGISTRY={REGISTRY}

MAIN_MASTER_IP={MAIN_MASTER_IP}
MASTER_NODE_ROOT_PASSWORD={MASTER_NODE_ROOT_PASSWORD}
MASTER_NODE_ROOT_PASSWORD={MASTER_NODE_ROOT_USER}

